body {
  background-color: aquamarine;
}

.container {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

@import 'scss/square.scss';
@import 'scss/buttons.scss';