@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
  background-color: aquamarine;
}

.container {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  font-family: 'Poiret One';
}

@import 'scss/square.scss';
@import 'scss/buttons.scss';